* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    padding: 20px 20px 20px 0px;
    background-color: #162f3b;
    color: #ffffff;
}

header h1 {
    display: inline-block;
    font-size: 48px;
    background-color: cadetblue;
}

header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; /* Prioritizing Gill Sans font */
    font-size: 20px;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
    color: aqua;
}

header nav ul li a {
    color: cadetblue;
}

h1 {
    color: #162f3b;
    text-decoration: none;
}

.filler {
    display: flex;
    background-image: url(../images/pexels-pixabay-276514.jpg);
    height: 300px;
    background-size: cover;
    background-position: center;
    align-items: end;
    justify-content: flex-end;
    padding-bottom: 20px;
    padding-right: 30px;
}


.filler .subtitle {
    display: flex;
    justify-content: flex-end;
}

#subtitle-text {
    color: #162f3b;
    font-size: 50px;
    background-color: cadetblue;
    padding: 5px;

}




